/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.buttonInstagram {
  border-color: #993399;
  color: #993399;
}

.buttonILinkedin {
  border-color: #0e76a8;
  color: #0e76a8;
}

.buttonGitlab {
  border-color: orange;
  color: #000000;
}

.listaDevOps {
  list-style: none;
}

.divCentralized {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
